{% extends 'layout.html' %}

{% block breadcrumbs %}
  <ul id='breadcrumbs'>
    <li>Blog</li>
  </ul>
{% endblock %}

{% block content %}
  {% for post in posts[:site.post_limit-1] %}
    <section class='post'>
      <header class='post-header post-header-posts'>
        <h1><a href={{ get_url(post.url) }}>{{ post.title }}</a></h1>
        <h2>{{ post.date }}{% if post.tags %} <span>&raquo;</span> {% for tag in post.tags %}<a href='{{ get_url(tags[tag].url) }}'>{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %} <span>&raquo;</span> <a href='{{ get_url(post.url) }}#disqus_thread' title='Comments'>Comments</a></h2>
      </header>
      <article class='post-body'>
        {{ post.content }}
      </article>
    </section>
  {% endfor %}
{% endblock %}
