<!DOCTYPE html>

<html lang='en'>
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} &ndash; {% endif %}{{ site.title }}{% if not title and site.subtitle %} &ndash; {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body id='container'>
    <aside id='sidebar'>
      <header>
        <h1><a href='{{ get_url() }}'>{{ site.title }}</a></h1>
        {% if site.subtitle %}<h2>{{ site.subtitle }}</h2>{% endif %}
      </header>

      <nav class='module module-nav'>
        <ul class='unstyled'>
          <li><a href='{{ get_url('about/')}}'> About</a></li>
          <li><a href='{{ get_url() }}'>Blog</a></li>
          <li><a href='{{ get_url('archives/') }}'>Archives</a></li>
          <li><a href='{{ get_url('feed.xml') }}'>Feed</a></li>
        </ul>
      </nav>

      <section class='module'>
        <p>Essentially a portfolio for my past/future work. I'm quite forgetful so bear with me if this isn't updated regularly.</p>
        <p>To anyone else reading this, congratulations! You've reached enlightment.</p>
        <p>In case you're still interested in my work and ramblings you can find me on <a href='https://github.com/edhaker13'>GitHub</a>, <a href='https://facebook.com/edhaker13'>Facebook</a> and <a href='https://twitter.com/edhaker13'>Twitter</a>.</p>
      </section>

      <footer id='footer'>
        <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href='http://mynt.mirroredwhite.com/'>mynt</a></p>
      </footer>
    </aside>
    {% block breadcrumbs %}{% endblock %}
    <section id='content'>{% block content %}{% endblock %}</section>
</body>
</html>
