{% extends 'layout.html' %}

{% set title = post.title %}
{% set pdescription = post.description %}
{% set pkeywords = posts.keywords %}

{% block breadcrumbs %}
<nav id='breadcrumbs'>
  <ul id='breadcrumbs'>
    <li><a href='{{ get_url() }}'>Blog</a><span>&rsaquo;</span></li>
    <li>{{ post.title|truncate(75) }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <section class='post'>
    {% include 'post.header.html' %}
    <article>{{ post.content }}</article>
    {% if site.show_disqus %}{% include 'disqus.thread.html' %}{% endif %}
  </section>
{% endblock %}
