{% extends 'layout.html' %}
{% set title='About Me' %}
{% block content %}
  <section class='post'>
    <header class='post-header'>
      <abbr title="Yep, that's me!"><h1>{{ site.author }}</h1></abbr>
    </header>
    <article class='post-body'>
      {% for post in posts %}
        {% if 'About' in post.tags %}
          {{ post.content }}
        {% endif %}
        {% endfor %}
    </article>
  </section>
{% endblock %}
